#searches {
    background-image: url(../../../assets/img/shared/interna-accion-por-el-clima.png);
    height: 115px;
}

.title-virus {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: white;
    padding: 20px;
}

.pipe-title-virus {
    margin: 0px 20px;
}

.navigation-searches {
    display: flex;
    justify-content: center;
}

.navigation-searches a {
    align-items: center;
    display: inline-flex;
    font-size: 12px;
    padding: 6px 10px;
    /* cursor: pointer; */
}

.link {
    color: white;
    text-decoration: none;
}

.selected-searcher {
    background-color: #3f7e44;
}