<div class="footer">
    <div id="information-redalyc">
      <span class="first-line">{{ "footer.copyright" | translate }}</span
      ><br />
      <span class="other-lines">{{ "footer.copyright2" | translate }}</span
      ><br />
      <br />
      <span class="other-lines">{{ "footer.version" | translate }}</span
      ><br />
      <span class="other-lines">{{ "footer.correo" | translate }}</span>
    </div>
  
    <div class="logos">
      <img src="assets/img/shared/logo-redalyc.png" />
      <img src="assets/img/shared/admin-uaemex.png" />
    </div>
  </div>
  