<div class="header">

    <div class="top-bar">
        <div class="logo-part">
            <a href="https://www.redalyc.org/" target="_blank">
                <img src="assets/img/shared/redalyc-logo.png" alt="Redalyc Logo">
            </a>
        </div>
        <div class="text-part">
            <span class="title">Sistema de Información Científica Redalyc</span><br>
            Red de revistas científicas de Acceso Abierto diamante<br>
            Infraestructura global no comercial propiedad de la academia
        </div>
    </div>

    <div class="navigation">
        <div class="links-home">
            <ejs-menu [items]='menuItems'>
                <ng-template #template let-menuItems="">
                    <a target='_blank' href="{{menuItems.url}}" class="item-search">{{menuItems.text | translate}}</a>
                </ng-template>
            </ejs-menu>
        </div>

        <div class="languages-social-networks">
            <div id="menu-mobile" (click)="openNav()">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </div>

    <div class="current-section">
        <span><a href="https://www.redalyc.org/" target="_blank">{{ 'header.redalyc' | translate}}</a> > <a [routerLink]="['/home']">{{ 'general.proyecto' | translate }}</a> <span *ngIf='currentSection'> > {{ currentSection | translate}}</span></span>
        <div class="socials-and-languages">
            <div class="socials-networks">
                <a href="https://www.instagram.com/redalyc_oficial" target="_blank"><img class="instagram" src="assets/img/icons/ig-logo-dark.png"></a>
                <a href="https://twitter.com/Redalyc" target="_blank"><img class="twitter" src="assets/img/icons/x-logo-dark.png"></a>
                <a href="https://www.facebook.com/Redalyc/" target="_blank"><img class="facebook" src="assets/img/icons/fb-logo-dark.png"></a>
            </div>
            <div class="languages">
                <span class="lang" (click)="changeLanguage('es')">ESP</span>
                <span class="lang" (click)="changeLanguage('en')">ENG</span>
            </div>
        </div>
    </div>
</div>
