.header {
    background-color: #c8d0d5;
}

#hide-on-scroll.hidden {
    display: none;
}

.navigation {
    width: 100%;
    display: flex;
    color: black;
    align-items: center;
    height: 90px;
    justify-content: center;
    background-color: #c8d0d5 !important;
}

.top-bar {
    display: flex;
    width: 100%;
    height: 110px;
}

.logo-part {
    background-color: #ffffff;
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logo-part img {
    width: 100%;
    max-width: 160px;
    margin-right: 10px;
}

.text-part {
    background-color: #ff3333;
    color: white;
    width: 68%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    flex-direction: column;
    font-size: calc(8px + 0.4vw);
    line-height: 1.5;
}

.text-part .title {
    font-size: 21px;
    font-weight: bold;
    color: white;
    margin-bottom: 4px;
}

.to-home {
    width: 200px;
    cursor: pointer;
    margin: 10px 12px 10px 20px;
}

.links-home ul {
    font-size: 12px;
    background-color: #c8d0d5;
    color: black;
    white-space: normal;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.links-home li:hover {
    background-color: #c8d0d5;
    color: black;
}

.languages-social-netwoks {
    font-size: 12px;
    display: inline-flex;
    align-items: center;
    margin-left: 15px;
}

.languages-social-netwoks span,
a {
    padding: 0px 3px;
}

.languages-social-netwoks a img {
    width: 20px;
    height: 20px;
}
.socials-and-languages {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

.languages {
    display: flex;
    gap: 10px;
    font-size: 14px;
    font-weight: bold;
    display: none;
}

.languages-r {
    display: flex;
    gap: 10px;
    font-size: 14px;
    font-weight: bold;
}

.current-section {
    color: black;
    font-size: 12px;
    padding: 0px 40px 20px 80px;
  }
  
  .current-section a {
    text-decoration: none;
    color: black;
  }

.item-search {
    color: black;
    text-decoration: none;
    display: inline-block;
    width: 100%;
}

#menuitem_1 a,
#menuitem_4 a,
#menuitem_5 a {
    pointer-events: none;
    color: black;
}

#menu-mobile {
    display: none;
}

.lang {
    cursor: pointer;
}

.socials-networks {
    margin-right: 20px;
  }

.socials-and-languages {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 6700px) {
    .links-home {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .socials-and-languages {
      margin-top: 20px;
    }
  
    #menu-mobile {
      display: block;
      cursor: pointer;
    }
  
    #menu-desplegable {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(55, 70, 78, 0.9);
      z-index: 1000;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: translateX(-100%);
      transition: transform 0.3s ease;
    }
  
    .menu-open {
      transform: translateX(0);
      animation: slideInFromLeft 0.5s ease forwards;
    }
  
    .menu-close {
      transform: translateX(-100%);
      animation: slideOutToLeft 0.5s ease forwards;
    }
  
    @keyframes slideInFromLeft {
      0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(0);
      }
    }
  
    @keyframes slideOutToLeft {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-100%);
      }
    }
  
    .btn-menu {
      padding: 10px;
      padding-left: 50px;
      width: 100%;
      cursor: pointer;
      display: flex;
      align-items: center; 
      justify-content: flex-start; 
      text-align: center; 
    }
  
    .btn-menu img {
      margin-right: 10px; 
    }
  
    .btn-menu a {
      color: white;
      font-size: 14px;
      margin: 0;
    }
  
    .btn-close {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: transparent;
      color: white;
      border: none;
      cursor: pointer;
      z-index: 1001;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .links-home {
      display: none;
    }
  
    .links-home.show-menu {
      display: block;
    }
  
    #menu-mobile {
      display: block;
      cursor: pointer;
    }
  }
  
  @media only screen and (min-width: 768px) {
  }
  
  @media only screen and (min-width: 992px) {
  }
  
  @media only screen and (min-width: 1200px) {
  }
  