<div id="container-network">
    <div style="display: none;" id="txt-url"></div>
    <div id="container-graph-network">
        <div id="mynetwork"></div>
        <div id="loadingBar">
            <div class="outerBorder">
                <div id="text">0%</div>
                <div id="border">
                    <div id="bar"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="container-articles">
        <div id="tituloArticulos"></div>
        <div id="charger">
            <img src="assets/img/home/giphy.gif" alt="">
            <p>{{ 'home.cargando' | translate }}</p>
        </div>
        <div id="contenedorArticulos" style="display:none;">
            <div id="datosArticulo"></div>
        </div>
    </div>
</div>