<div id="contenedor-fichas" class="contenedor-fichas">
    <div *ngFor="let articulo of articles;let indexOfelement=index;" class="card">
        <a href="https://redalyc.org/articulo.oa?id={{articulo.cveArticulo}}" target="_blank" style="text-decoration: none; color: black;">
            <div class="info-card" style="padding: 10px; display: flex; flex-direction: column;">
                <div class="titulo-card" style="height: 100px; font-weight: bold; font-size: 12px;">
                    <p> {{articulo.tituloArticulo | titleArticle}}</p>
                </div>
                <div class="cuerpo-card" style="font-size: 12px;">
                    <div>{{articulo.autores | authors}}</div>
                </div>
                <div style="height: auto; font-size: 12px;">
                    <div>{{articulo.nombreRevista}}, {{articulo.anio}} {{articulo.volumen}}<span *ngIf="articulo.numero != ' '">({{articulo.numero}})</span> </div>
                </div>
                <div style="height: auto; font-size: 12px;">
                    <a href="https://redalyc.org/articulo.oa?id={{articulo.cveArticulo}}" style="text-decoration: none;">
                        <div style="color: #014f80;">{{ 'busqueda.tabla.texto' | translate}}</div>
                    </a>
                </div>
            </div>
        </a>
        <div class="footer-card" style="width: 100%; height: 35px; text-align: right; border-radius: 0px 0px 10px 10px; ; background-color: #3f7e44; position: absolute; bottom: 0;">
            <a href="http://www.facebook.com/sharer.php?u=https://redalyc.org/articulo.oa?id={{articulo.cveArticulo}}" class="facebook" target="_blank" OnClick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;">
                <img target="_blank" class="img-footer" src="assets/img/home/face.png" alt=""></a>
            <a href="https://twitter.com/intent/tweet?original_referer=https://redalyc.org/articulo.oa?id={{articulo.cveArticulo}} &amp;text={{articulo.tituloArticulo}} https://redalyc.org/articulo.oa?id={{articulo.cveArticulo}} vía @Redalyc" class="twitter" target="_blank"
                OnClick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;"><img target="_blank" class="img-footer" src="assets/img/home/tw.png" alt=""></a>
        </div>
    </div>
</div>
<div class="container-button-more">
    <a id="button-more-articles" [routerLink]="[ '/busqueda-general' ]" href="https://www.redalyc.org/articulosRecientes.oa">
        <div class="button-more">{{ 'home.mas' | translate}}</div>
    </a>
</div>
