<section id="general">
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#ffffff" type="square-loader" [fullScreen]="true">
        <p class="loading">{{ 'general.spinner' | translate }}</p>
    </ngx-spinner>

    <section id="header">
        <app-header [currentSection]="'busqueda.banner.general'"></app-header>
    </section>

    <section>
        <app-banner-searches [sectionGeneral]=true></app-banner-searches>
    </section>

    <section id="banner" class="flex">
        <div class="flex searcher-title">
            <img src="assets/img/icons/buscador-institucionmdpi.png" />
            <p>{{ 'busqueda.banner.general' | translate }}</p>
        </div>

        <div class="searcher">
            <input class="searcher-text" #predefined (keyup.enter)="searchArticles(predefined.value)" type="text" placeholder="{{ 'busqueda.banner.buscar.general' | translate }}" required />
            <input class="searcher-icon" type="image" src="assets/img/icons/buscador-institucionmdpi.png" (click)="searchArticles(predefined.value)" name="boton-buscar-articulo" alt="Buscar" required />
        </div>
    </section>

    <section id="sections">
        <div class="filters">
            <div class="text-filters">
                <img src="assets/img/icons/filtro.png" />
                <span>{{ 'busqueda.filtros.titulo' | translate }}</span>
            </div>
            <app-filters></app-filters>

        </div>

        <div class="content-general">
            <div class="container-sections">
                <div class="selected sections-aling article-icon">
                    <img src="assets/img/icons/articulos.png" />
                    <span>{{ 'busqueda.secciones.principal' | translate }}</span>
                </div>
                <div class="filters-icon">
                    <!--  <a><img src="assets/img/icons/filtro.png" /></a> -->
                    <input id="abrir-cerrar" name="abrir-cerrar" type="checkbox" value="" />
                    <label for="abrir-cerrar">
                        <img src="assets/img/icons/filtro.png" />
                    </label>
                    <div id="sidebar" class="sidebar">
                        <ul class="menu">
                            <input id="abrir-cerrar" name="abrir-cerrar" type="checkbox" value="" />
                            <label for="abrir-cerrar">
                                <img class="close-filters" src="assets/img/icons/filtro.png" />
                            </label>
                            <app-filters></app-filters>
                        </ul>
                    </div>
                </div>
                <div class="view-results">
                    <span>{{ 'busqueda.secciones.modo' | translate }}</span>
                </div>
                <div class="sections-aling" (click)="changeView(false)" [ngClass]="{'activate': !view, 'selected': !view, 'select': view}">
                    <img [src]="imgTable" />
                    <span class="view-table">{{ 'busqueda.secciones.tabla' | translate }}</span>
                </div>
                <div class="sections-aling" (click)="changeView(true)" [ngClass]="{'activate': view, 'selected': view, 'select': !view}">
                    <img [src]="imgList" />
                    <span>{{ 'busqueda.secciones.lista' | translate }}</span>
                </div>
            </div>
            <div>
                <div class="results" *ngIf="results">
                    <span>{{ 'busqueda.secciones.resultados' | translate: { text: (search || '') } }}</span>
                    <span class="total-results" *ngIf="positionPage !== finalPositionPage">{{ 'busqueda.secciones.total' | translate: { value1: (positionPage * 10 - 9), value2: (positionPage * 10), value3: (totalResults) } }}</span>
                    <span class="total-results" *ngIf="positionPage === finalPositionPage">{{ 'busqueda.secciones.total' | translate: { value1: (positionPage * 10 - 9), value2: (totalResults), value3: (totalResults) } }}</span>
                </div>
                <div class="balloons-component">
                    <app-balloons></app-balloons>
                </div>

                <div class="views-components">
                    <app-target [articles]="articles" *ngIf="view"></app-target>
                    <app-table [articles]="articles" *ngIf="!view"></app-table>
                </div>

                <div class="pagination-component">
                    <app-pagination (click)="goUp()"></app-pagination>
                </div>
            </div>
        </div>
    </section>

    <section id="footer">
        <app-footer></app-footer>
    </section>
</section>