<section id="general">

    <section id="header">
        <app-header [currentSection]="'header.acerca.genero'"></app-header>
    </section>

    <section id="searches">
        <app-banner-searches [sectionAbout]=true></app-banner-searches>
    </section>

    <section id="content-about">
        <div>
            <h1>
                {{ 'estatica.titulo1' | translate }}
            </h1>
            <p>
                {{ 'estatica.parrafo1' | translate }}
            </p>
            <h1>
                {{ 'estatica.titulo2' | translate }}
            </h1>
            <p>
                {{ 'estatica.parrafo2' | translate }}
            </p>
            <h1>
                {{ 'estatica.titulo3' | translate }}
            </h1>
            <p>
                {{ 'estatica.parrafo3' | translate }}
            </p>
            <p>
                {{ 'estatica.parrafo4' | translate }}
            </p>
        </div>

    </section>

    <section id="footer">
        <app-footer></app-footer>
    </section>
</section>