<div id="table">
    <table>
        <thead>
            <tr>
                <th scope="col" colspan="3">{{ 'busqueda.tabla.titulo' | translate }}</th>
                <th scope="col" colspan="2">{{ 'busqueda.tabla.autor' | translate }}</th>
                <th scope="col" colspan="2">
                    {{ 'busqueda.tabla.revista' | translate }}
                    <!-- <img class="img" (click)="reverse('nombreRevista', reverseR)" [src]="imagenR" align="right" />
                    <span class="tooltip-text journal">Ordenar resultados por revista</span> -->
                </th>
                <th scope="col">
                    {{ 'busqueda.tabla.numero' | translate }}
                    <!-- <img class="img" (click)="reverse('anio', reverseN)" [src]="imagenN" align="right" />
                    <span class="tooltip-text number">Ordenar resultados por número</span> -->
                </th>
                <th scope="col">{{ 'busqueda.tabla.texto' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let articulo of articles">
                <td colspan="3" *ngIf="articulo.origen === 'PDF'"><a class="title" href="https://www.redalyc.org/articulo.oa?id={{articulo.cveArticulo}}" target="_blank">{{articulo.tituloArticulo | titleArticle }}</a></td>
                <td colspan="3" *ngIf="articulo.origen === 'XML'"><a class="title" href="https://redalyc.org/journal/{{articulo.cveRevista}}/{{articulo.cveArticulo}}/" target="_blank">{{articulo.tituloArticulo | titleArticle }}</a></td>
                <td colspan="3" *ngIf="articulo.origen === 'ameli'"><a class="title" href="https://redalyc.org/journal/{{articulo.cveRevista}}/{{articulo.cveArticulo}}/" target="_blank">{{articulo.tituloArticulo | titleArticle }}</a></td>
                <td colspan="2">{{ articulo.autores | authors }}</td>
                <td colspan="2">{{ articulo.nombreRevista }}</td>
                <td>{{ articulo.anio }}, {{ articulo.volumen }} ({{ articulo.numero }})</td>
                <td *ngIf="articulo.origen === 'XML'">
                    <div class="grid">
                        <div>
                            <a class="type-format pdf" href="https://redalyc.org/journal/{{articulo.cveRevista}}/{{articulo.cveArticulo}}/" target="_blank"><b>Visor</b></a>
                        </div>
                        <div>
                            <a class="type-format pdf" href="https://redalyc.org/articulo.oa?id={{articulo.cveArticulo}}" target="_blank"><b>PDF</b></a>
                        </div>
                        <div>
                            <a class="type-format" href="https://redalyc.org/journal/{{articulo.cveRevista}}/{{articulo.cveArticulo}}/html/" target="_blank"><b>HTML-R</b></a>
                        </div>
                        <div>
                            <a class="type-format" href="https://redalyc.org/journal/{{articulo.cveRevista}}/{{articulo.cveArticulo}}/{{articulo.cveArticulo}}.epub" target="_blank"><b>ePUB-R</b></a>
                        </div>
                        <div>
                            <a class="type-format" href="https://redalyc.org/journal/{{articulo.cveRevista}}/{{articulo.cveArticulo}}/movil/" target="_blank"><b>MÓVIL-R</b></a>
                        </div>
                    </div>
                </td>
                <td *ngIf="!(articulo.origen === 'XML')">
                    <div>
                        <div>
                            <a class="type-format" href="https://redalyc.org/articulo.oa?id={{articulo.cveArticulo}}" target="_blank"><b>PDF</b></a>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>